<h2 class= "center white-text">FEMALE ARTISTS</h2>
<% @females.each do |female| %>
<ul class="collection with-header">
<li class="collection-header"><h4> <%= female.name%></h4></li>
</ul>
<% end %>
 <%= link_to "Home", artists_path %> 