
<h2 class="center">yg solo kpops</h2>
<% @artists.each do |artist| %>
  <h1><%= link_to artist.name, artist_path(artist)%></h1>
<% end  %>

<h6><%= link_to "Female Artist",female_path(@female) %></h6>
<h6><%= link_to "Male Artist",male_path(@male) %></h6>
<%= link_to "Add New Artist", new_artist_path %> <br> 

