<h2 class= "center">MALE ARTISTS</h2>
<% @males.each do |male| %>
<ul class="collection with-header">
<li class="collection-header"><h4> <%= male.name%></h4></li>
</ul>
<% end %>
 <%= link_to "Home", artists_path %> 
