<h2 class= "center white-text"> YG FAMILY GLAM SQUADS</h2>
<% @glams.each do |glam| %>
<ul class="collection with-header">
<li class="collection-header"><h4> <li> Glam Squad <%= link_to glam.glam_squad, glam_path(glam) %></h4></li>
</ul>
<% end %>
 <%= link_to "Home", artists_path %> 